
/* IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #hover-cap-4col .thumbnail {
    position:relative;
    overflow:hidden;  
    list-style:none;  
}
.small > button {
    display: block;
    padding: 0px;
    border: none;
    width: 281px;
    float: none;
}

.logo-img-ie {
    max-height: 150px;
    margin-left: -9em;
}

   .caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
 
    color:#fff !important;
        }
ul.thumbnails, ul.thumbnails ul
    {
        list-style: none;
      margin-top:-3px;
  
    }


ul.thumbnails ul, ul.thumbnails
{
padding:0px;
}
ul.thumbnails li 
{
padding-right:0px;
padding-left:0px;
 padding: 3px;
 
  transition: box-shadow 1s;
}


ul.thumbnails button { 
        box-shadow: none;
    transition: box-shadow 1s;
     }
ul.thumbnails button { 
        box-shadow: none;
    transition: box-shadow 1s;
     }
.small>button :hover{ 
box-shadow: 0 2px 2px 0 rgb(255, 255, 255), -1px 3px 20px 5px rgb(255, 255, 255), 0 3px 1px -2px rgb(255, 255, 255) !important; 
 transition: box-shadow 1s;
    }
    .small>button>.thumbnail>.caption>h4:hover{ 
 box-shadow: none !important; 
    }

div.thumbnail
{
margin-bottom:0px;
  border:none;
  padding:0px;
  border-radius:0px;
}

 li.small .thumbnail
{
margin:0px!important;

}
ul li ul 
{
margin-top:-3px;
}

 li.lead .thumbnail
{
margin-bottom:0px!important;
background:#fdf;
}
.thumb-gallery{
    margin: 2em 0em 10em 0em;
}
.caption>h4{    text-align: center;
    margin-top: 2em;
    font-size: 26px;}
    .clients_p>p{
        color: #000;
        text-align: center;
        margin: 10px;
    }
 .clients_p>p:last-child{
        margin-bottom:  50px !important;
    }


    .caption>a>h4{
        text-align: center;
    margin-top: 2em;
    font-size: 26px;
    color: #fff;
        box-shadow: none !important;
    }
}





/* chrome firefox */
 #hover-cap-4col .thumbnail {
    position:relative;
    overflow:hidden;  
    list-style:none;  
}
   .caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
 
    color:#fff !important;
        }
ul.thumbnails, ul.thumbnails ul
    {
        list-style: none;
      margin-top:-3px;
  
    }


ul.thumbnails ul, ul.thumbnails
{
padding:0px;
}
ul.thumbnails li 
{
padding-right:0px;
padding-left:0px;
 padding: 3px;
 
  transition: box-shadow 1s;
}


ul.thumbnails button { 
        box-shadow: none;
    transition: box-shadow 1s;
     }
.small>button :hover{ 
box-shadow: 0 2px 2px 0 rgb(255, 255, 255), -1px 3px 20px 5px rgb(255, 255, 255), 0 3px 1px -2px rgb(255, 255, 255) !important; 
 transition: box-shadow 1s;
    }
    .small>button>.thumbnail>.caption>h4:hover{ 
 box-shadow: none !important; 
    }

div.thumbnail
{
margin-bottom:0px;
  border:none;
  padding:0px;
  border-radius:0px;
}

 li.small .thumbnail
{
margin:0px!important;

}
ul li ul 
{
margin-top:-3px;
}

 li.lead .thumbnail
{
margin-bottom:0px!important;
background:#fdf;
}

.thumb-gallery{
    margin: 2em 0em 10em 0em;
}
.caption>h4{    text-align: center;
    margin-top: 2em;
    font-size: 26px;}
    .clients_p>p{
        color: #000;
        text-align: center;
        margin: 10px;
    }
    .clients_p>p:last-child{
        margin-bottom:  50px !important;
    }


    .small>button>.thumbnail>.caption>a>h4{
        text-align: center;
    margin-top: 2em;
    font-size: 26px;
    color: #fff;
        box-shadow: none !important;
    }
    /*.thumbnails>.caption:hover {
    box-shadow: 0 2px 2px 0 rgb(255, 255, 255), -1px 3px 20px 5px rgb(255, 255, 255), 0 3px 1px -2px rgb(255, 255, 255) !important;
}*/