@media only screen and (min-width: 1601px) and (max-width: 2100px){
.mobile{
    display: none !important;
}
@media only screen and (min-width: 1201px) and (max-width: 1600px){
.mobile{
    display: none !important;
}
}
@media only screen and (min-width: 980px) and (max-width: 1200px){
.mobile{
    display: none !important;
}
.process-area .p-timeline .column:nth-child(odd) {
    padding-right: 10px;
    text-align: left;
}
.process-area .p-timeline .column:nth-child(even) {
    float: right;
    text-align: left;
    padding-left: 10px;
}
.process-area .p-timeline .column p {
       letter-spacing: 0.2px;
    color: #fff;
    padding: 12px 0px 0px 0px;
}
.process-area .p-timeline .column .media .media-body h2 {
    font: 400 19px/34px "rexlia";
    color: #fff;
    display: inline-block;
}
.process-area .p-timeline .column .timeline {
    width: 476px;
    float: right;
}
.process-area .p-timeline .column {
    width: 50%;
    float: left;
    margin-bottom: 4em;
    position: relative;
}
.deal{
    margin-left: .1px;
}
.rel{
        margin-top: -96px;
}
}
@media only screen and (min-width: 1601px) and (max-width: 2400px){
.mobile{
    display: none !important;
}
}
@media only screen and (min-width: 1025px) and (max-width: 1200px)
{
.main-nav>li>a {

    color: #fff;
    text-align: center;
    padding: 27px;
}

h1 {
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 42.4px;
    color: #fff;
    font-family: rexlia;
    letter-spacing: 1px;
}
.mobile{
    display: none;
}
}
@media only screen and (min-width: 980px) and (max-width: 1024px)

{
    .main-nav>li>a {

    color: #fff;
    text-align: center;
    padding: 24px;
}
h1 {
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 42.4px;
    color: #fff;
    font-family: rexlia;
    letter-spacing: 1px;
}
.mobile{
    display: none;
}
}
@media only screen and (min-width: 768px) and (max-width: 979px)

 {
.intro-text-image {
       height: 200px;
    width: 200px;
}
.top-image {
    top: 85px;
    left: 50px;
}
.element {
    font-size: 112px;
    color: #fff;
    margin-top: 120px;
    font-family: Monoton;
}.top-nav>li>a {
    font-size: 13px;
    color: #fff;
}
.main-nav {
    margin-top: 10px;
    margin-left: 10%;
}
.main-h {
    top: 0px;
}
.main-nav>li>a {

    color: #fff;
    text-align: center;
    padding: 25px 0px 0px 53px;
    font-family: rexlia;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    color: #fff;
}
.why-choose-us-area:after {
    display: none;
}
.thumb-gallery {
    margin-left: 0px !important;
}
.small {
    width: 88% !important;
}
.caption>a>h4 {
    text-align: center;
    margin-top: 4em;
    font-size: 35px;
    color: #fff;
    box-shadow: none !important;
}
.logo-img {
        min-height: 109px;
    min-width: 138px;
    margin-left: 2em;
}
.thumb-gallery {
    margin-left: 0px !important;
}
.small {
    width: 100% !important;
}
.logo-img-solution {
    max-height: 150px;
    margin-left: 0.9em;
}
/*our mission*/

h1 {
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 42.4px;
    color: #fff;
    font-family: rexlia;
    letter-spacing: 1px;
}
.service-h>.ana-h3{
          font-size: 27px;
    padding: 0px;
    margin-bottom: 34px;
    text-decoration: underline;
}
.service-h>.sp-h3 {
    font-size: 27px;
  padding: 0px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.media-body>h2{
    font-size: 18px;
    margin: 20px;
}
.timeline>p{
    font-size:12px;

 }
.desktop{
    display: none;
}

}
@media only screen and (min-width: 446px) and (max-width: 567px){
  .main-nav li {
      display: block !important;
  }
  .main-nav>li>a {
      color: #fff;
      text-align: center;
      padding: 26px 0px 0px 54px !important;
      font-family: rexlia;
      font-size: 18px;
      font-style: normal;
      font-variant: normal;
      color: #fff;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px)
 {
.top-image{top: 82px;
    left: 2em;}
.intro-text-image {
    height: 150px;
    width: 150px;
}

.element{
	font-size: 87px;
    text-align: center;
    margin-left: 0em;
}
.Innovation {

    font-size: 48px;
    margin-left: -2.5em;
}
#highlight{
	height: 40px ;
	margin-top: 3px ;
}
.top-intro {
    margin-top: 127px;
    margin-left: 2em;
}
/*home*/
.top-nav>li>a {
    font-size: 13px;
    color: #fff;
}
.main-nav {
     margin-top: 10px ;
}
.main-nav>li>a {
    color: #fff;
    text-align: center;
      padding: 28px 0px 0px 20px;
    font-family: rexlia;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    color: #fff;
}
.why-choose-us-area:after {
    display: none;
}
.thumb-gallery {
    margin-left: 0px !important;
}
.small {
    width: 91% !important;
}
.caption>a>h4 {
    text-align: center;
    margin-top: 2em;
    font-size: 30px;
    color: #fff;
    box-shadow: none !important;
}
.logo-img {
        min-height: 109px;
    min-width: 138px;
    margin-left: 2em;
}
.main-nav {
    margin-top: 10px;
    margin-left: 0;
}
.logo-img {
        min-height: 109px;
    min-width: 138px;
    margin-left: 2em;
}
.logo-img-solution{
	  min-height: 109px;
    min-width: 138px;
    margin-left: 2em;
}
/*solution*/

.home-mail {
 display: none;
}
.service-h>.ana-h3{
          font-size: 27px;
    padding: 0px;
    margin-bottom: 34px;
    text-decoration: underline;
}
.service-h>.sp-h3 {
    font-size: 27px;
  padding: 0px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.media-body>h2{
    font-size: 18px;
    margin: 20px;
}
.timeline>p{
    font-size:12px;

 }
.desktop{
    display: none;
}
}
@media only screen and (min-width: 321px) and (max-width: 480px)
 {
	.top-image{top: 82px;
    left: 2em;}
.intro-text-image{
	height: 70px ;
	width: 65px ;
}
.element{
	font-size: 33px;
    text-align: center;
    margin-left: 0.5em
}
.Innovation {

    font-size: 19px;
        margin-left: -2em;
}
#highlight{
	height: 14px ;
	margin-top: 3px ;
}
.top-intro{
     margin-top: 100px;
    margin-left: 2em;
}
/*home page*/
.home-mail {
 display: none;
}
.main-nav>li>a {
       padding: 17px 0px 0px 60px;
    font-size: 17px;

}
.main-h {
    top: 10px;
}
h1 {
   font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 29.4px;
    color: #fff;
    font-family: rexlia;
    letter-spacing: 1px;
}
.why-choose-us-area:after {
    display: none;
}
.thumb-gallery {
    margin-left: 0px !important;
}
.small {
    width: 100% !important;
}
.caption>a>h4 {
    text-align: center;
    margin-top: 2em;
    font-size: 20px;
    color: #fff;
    box-shadow: none !important;
}
.logo-img {
        min-height: 109px;
    min-width: 138px;
    margin-left: 2em;
}
.logo-img-solution{
	           min-height: 110px;
    min-width: 195px;
    margin-left: 1em;
}

.service-h>.ana-h3{
        font-size: 19px;
  padding: 0px;
    margin-bottom: 50px;
    text-decoration: underline;
}
.service-h>.sp-h3 {
    font-size: 25px;
  padding: 0px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.media-body>h2{
    font-size: 18px;
    margin: 20px;
}
.timeline>p{
    font-size:12px;

 }
/*.process-area .p-timeline:before {
    position: absolute;
    top: 0;
    width: 1px;
    left: 50%;
    content: '';
    background-color: #dadada;
    display: block;
    height: 99%;

}
.process-area .p-timeline .column:nth-child(odd) {
    padding-right: 0px;
    text-align: left;
}
.process-area .p-timeline .column:before {

    display: none;
}
.process-area .p-timeline .column:after {
   display: none;

}
.process-area .p-timeline .column .timeline {
    width: 100%;

}
.process-area .p-timeline .column .media .media-body h2 {

    color: #fff;
    display: inline-block;
       font-size: 14px;
    line-height: 26px;
}
.process-area .p-timeline .column p {
    letter-spacing: 0.20px;
    color: #fff;
    text-align: center;
    padding: 0px;
    font-size: 14px;

}
.process-area .p-timeline .column:nth-child(even) {
    float: right;
    text-align: left;
    padding-left: 0;
}
.process-area .p-timeline .column:nth-child(even).top {
     margin-top: 0px;
}
.process-area .p-timeline {
   max-width: 100%;
    margin: 0px;
    position: relative;
    padding-top: 123px;
}
.process-area .p-timeline .column {

    margin-bottom: 1em;

}*/
.desktop{
    display: none;
}
}

@media only screen and (max-width : 320px) {
.intro-text-image{
	height: 70px ;
	width: 65px ;
}
.element{
	font-size: 30px;
    text-align: center;
          margin-left: 6.5%;
}
.Innovation {

    font-size: 19px;
            margin-left: 1%;
}
#highlight{
	height: 14px ;
	margin-top: 3px ;
}
.top-intro{
  margin-top: 100px ;
}


/*home page*/
.home-mail {
 display: none;
}
.main-nav>li>a {
    /* font-size: 20px; */
    color: #fff;
    text-align: center;
    padding: 25px 0px 0px 53px;
    font-family: rexlia;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    color: #fff;
}
.main-h {
    top: 10px;
}
.main-nav-res{
	margin-left: 0px;
}
h1 {
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 29.4px;
    color: #fff;
    font-family: rexlia;
    letter-spacing: 1px;
}
.why-choose-us-area:after {
    display: none;
}
.thumb-gallery {
    margin-left: 0px !important;
}
.small {
    width: 100% !important;
}
.caption>a>h4 {
    text-align: center;
    margin-top: 2em;
    font-size: 18px;
    color: #fff;
    box-shadow: none !important;
}
.logo-img {
        min-height: 109px;
    min-width: 138px;
    margin-left: 2em;
}
/*solution page*/
.logo-img-solution {
    min-height: 110px;
    min-width: 195px;
    margin-left: 0em;
}
.service-h>.ana-h3{
	    font-size: 19px;
  padding: 0px;
    margin-bottom: 50px;
    text-decoration: underline;
}
.service-h>.sp-h3 {
    font-size: 25px;
  padding: 0px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.media-body>h2{
    font-size: 18px;
    margin: 20px;
}
.desktop{
    display: none;
}
.mobile{
    display: block;
}
.timeline>p{
    font-size:12px;

 }
}
@-moz-document url-prefix() {
    .logo-img-solution {
      margin-left: 0em !important;
    }
}
@media screen and (min-color-index:0)
and(-webkit-min-device-pixel-ratio:0) { @media
{
    .logo-img-solution {
      margin-left: 0.5em !important;
    }
}}
@media not all and (min-resolution:.001dpcm) { @media
{
     .logo-img-solution {
      margin-left: 0.5em !important;
    }
}}
_::-webkit-full-page-media, _:future, :root .logo-img-solution {

   margin-left: 0.5em !important;

}
.line {
    margin: 25px 0;
    height: 1px;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(0, 149, 81) 100%);
}